body{
    background: gray;
}
header{
    display: flex;
    gap: 500px;
}
.nav{
    display: flex;
    gap: 50px;
    margin-left: 30px;

} 
a{
    text-decoration: none;
    color: white;
} 
 a:hover{
    color: green;
}
.login-button{
    background: rgb(234, 104, 104);
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    

}
.right-side{
    display: flex;
    gap: 50px;
    align-items:center;
    
} 
.main{
    text-align: center;
    color: white;
} 
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input{
    width: 300px;
}
.message{
    height: 100px;
}
button{
    width: 150px;
    border: 1px solid lightgreen;
    background: transparent;
    padding: 5px;
}
.info{
    display: flex;
    gap: 5px;
    padding: 8px;
    
}
.logo{
    display: flex;
    gap: 15px;
    margin-top: 20px;
} 