.inputer{
    text-align: center;
    border: 1px solid white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 30px;
    height: 400px;
  
    border-radius: 15px;

}
.log2-button{
    margin-top: 20px;
    background: transparent;
    border: 1px solid white;
    padding:10px ;
    width: 100px;
    border-radius: 10px;
    margin-top: 30px; 
    font-size: 20;

}
    .log2-button:hover{
        color: rgb(206, 59, 206);
    }

@media (max-width: 600px) {
    .inputer {
        margin-left: 20px;
        margin-right: 20px;
        height: auto; 
        padding: 20px;    
    }

    .log2-button {
        width: 80%;
        font-size: 18px;
    }
}