body{
    background-image: url(coffee-in-cup/ethiopian.jpeg);
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 20px;

}

header{
    display: flex;
    gap: 500px;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid white;
}
.nav{
    display: flex;
    gap: 50px;
    margin-left: 30px;

} 
a{
    text-decoration: none;
    color:white;
} 
 a:hover{
    color: green;
}
.login-button{
    background: rgb(234, 104, 104);
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    

}
.right-side{
    display: flex;
    gap: 50px;
    align-items:center;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    background-color: black;
}
.main{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    
    
}
.logo-container{

    
    
    color: white;
    align-items: center;
}
.hot{
   display: flex; 
   color: lightgreen; 
   font-weight: bold;

   

} 
.black{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur;
}
h3{
    color:white;
    text-align: center;
    font-size: large;
    
}
pre{
color:white;
font-weight: bold;
margin-left: 20px;

} 

.firaol{
    color:rgb(229, 155, 155);
    margin-left: 35px;
    font-size: 30px;
    margin-bottom: 0;

    width: 120px;
    border-radius: 60px;
    background: rgb(76, 76, 92);
}
.add-button{
    margin-left:500px;
    margin-right: 500px;
    border: 1px solid lightgreen;
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;

}
.add-button:hover{
    background: lightgreen;
}


@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        gap: 20px;
        padding: 10px; 
        background-color: rgba(0 0 0 0.4);
        backdrop-filter: blur(10px);
    }
    
    .nav {
        gap: 20px;
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .right-side {
        gap: 20px;
        justify-content: center;
    }
    
    .menu-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .main {
        grid-template-columns: 1fr 1fr;
    }
    
    .add-button {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    .firaol {
        margin-left: 0;
        margin: auto;
        text-align: center;
    }
}


@media (max-width: 480px) {
    
    .container {
        grid-template-columns: 1fr;
    }
    
    .main {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .menu-container{
        display: flex;
        flex-direction: column;
        
        
    }
    
    
    .nav {
        gap: 10px;
        font-size: 14px;
    }
    
    .right-side {
        flex-direction: column;
    }
    
    header {
        gap: 10px;
    }
}